.inter{
  font-family: "Inter", sans-serif;
  font-style: normal;
}

/* Common CSS start */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}

.btn{
    background-color: #469165;
    border: none;
    border-radius: 4px;
    color: white;
}
/* Common CSS End */


/* nav bar start */
nav{
    width: 85%;
    max-width: 1360px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px auto;
    background-color: white;
}

nav .logo{
    max-width: 139px;
    height: 60px;
}

nav .menus{
    display: flex;
    gap: 32px;
}

nav .menus a{
    font-size: 16px;
    font-weight: 500;
    opacity: 90%;
}

nav .btn{
    font-weight: 600;
    font-size: 16px;
    padding: 12.5px 16px;
}
/* nav bar End */